.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .button {
    display: flex;
    float: left;
  }
  
  .back-button {
    margin-right: auto;
  }
  

  .profile-section {
    background-color: #f5f5f5;
    padding: 24px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.success-message {
    color: green;
    margin-top: 5px;
}

.ant-form-item-explain {
    margin-top: 5px;
}

.srv-validation-message {
    color: red;
}
  
  body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding:"24px"
  }
  .login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    overflow: hidden;
    margin: 0 0;
    border-radius: 12px;
  }
  .login-form {
    flex: 1 0 100%;
    max-width: 500px;
    width: 100%;
    padding-left: 40px;
    padding-top: 1px;
    padding-right: 40px;
  }
  .login-form p {
    margin-bottom: 5px;
  }
  .login-form p.form-title {
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: "1px";
  }
  .login-form .ant-form-item-label > label.ant-form-item-required::before {
    display: none;
  }
  .ant-form-item-control-input-content {
    text-align: left;
  }

  #login-form_email {
    height: 48px;
  }
  #login-form_password {
    height: 48px;
  }
  #login-form .ant-btn {
    height: 42px;
    letter-spacing: 1px;
    border-radius: 6px;
  }
  .login-form-button {
    width: 100%;
  }
  .facebook-form-button {
    width: 100%;
    background-color: #3b5998;
  }
  .illustration-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 800px;
    min-height: 100%;
    background-color: #fffdf2;
  }
  .illustration-wrapper img {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 1023px) {
    .login-box {
      flex-direction: column;
      box-shadow: none;
    }
    .illustration-wrapper {
      max-width: 100%;
      min-height: auto;
    }
    #login-form {
      max-width: 100%;
    }
  }

  .required-asterisk {
    color: red;
    margin-right: 4px;
  }
  .custom-input {
    height: 48px; /* Set the desired height */
    border-radius: 0;
  }
  .label {
    font-weight: bold;
  }